.zsh_history
.zcompdump*
.bash_history
.cache/
.local/
.cargo/
.npm/
.ssh/
.pki/
.vnc/
.secrets/
.Xauthority
.dbus/
.anydesk/
.rnd

# Encrypted secrets workflow (tracked ciphertext + manifest, untracked plaintext/staging)
secrets/.staging/
secrets/.decrypted/
secrets/*.tar
secrets/*.tar.gz
secrets/*.tmp
secrets/*.passphrase

!secrets/
!secrets/README.md
!secrets/manifest.txt
!secrets/*.gpg
